In [1]:
print("ganesh")

ganesh

In [3]:
name = input("Enter your name")
print("your name:",name)

Enter your name ganesh

your name: ganesh

In [4]:
num1 = input("enter first number")
num2 = input("enter second number")
print("first number:",num1)
print("second number:",num2)

enter first number 235
enter second number 233

first number: 235
second number: 233

In [5]:
num1 = int(input("enter first number"))
num2 = int(input("enter second number"))
sum = num1+num2
print("addition of two numbers:",sum)

enter first number 17
enter second number 18

addition of two numbers: 35

In [6]:
a = input("enter the first name")
b = input("enter the second name")
name = a+b
print("your full name is",name)

enter the first name venkata
enter the second name ganesh

your full name is venkataganesh

In [7]:
word1 = input()
word2 = input()
concatenate = word1+""+word2
print(concatenate)

 hi
 ra

hira

In [8]:
a = 10;
b = 20;
a = a+b
b = a-b
print("a:",a)
print("b:",b)

a: 30
b: 10

In [9]:
a = int(input())
b = int(input())
a = a+b
b = a-b
a = a-b
print(a)
print(b)
c = a
a = b
b = c
print(a,b)

 3
 7

7
3
3 7

In [10]:
a = 10
b = "hello"
c = 2.43
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [12]:
x = [4,5,6]
dict_ = {name:"nani"}
z = {2,4,56,78,9}
print(type(x))
print(type(dict_))
print(type(z))

<class 'list'>
<class 'dict'>
<class 'set'>

In [13]:
a = int(input())
b = int(input())
c = int(input())
sum = a+b+c
print(sum/3)

 1
 2
 3

2.0

In [15]:
num1 = int(input())
print(num1*10)

 10

100

In [16]:
a = int(input())
print(a/60)

 10

0.16666666666666666

In [17]:
a = float(input())
b = float(input())
print(a*b)

 3.5
 4.5

15.75

In [18]:
a = int(input())
b = int(input())
c = int(input())
print(max(a,b,c))

 3
 5
 8

8

In [19]:
a = int(input())
print(a*(a+1))

 6

42

In [20]:
a = int(input())
for i in range(2,a+1):
    if i%2==0:
        print(i)

 6

2
4
6

In [21]:
pan = bool(input())
adhar = bool(input())
cibil = int(input())
if (pan and adhar and cibil>750):
    print("loan approved")
else:
    print("rejected")

 true
 true
 800

loan approved

In [22]:
a = int(input())
b = int(input())
print(a+b)
print(a-b)
print(a/b)

 4
 6

10
-2
0.6666666666666666

In [23]:
a = int(input())
if a>0:
    print("positive")
elif a<0:
    print("negative")
else:
    print("zero")

 6

positive

In [24]:
a = int(input())
if a%2==0:
    print("even")
else:
    print("odd")

 6

even

In [25]:
a = int(input())
if a%5==0 or a%11==0:
    print("divisible")
else:
    print("not divisible")

 44

divisible